.slide-in-from-top {
    transform-origin: top;
    transform: scaleY(0);
    animation: slideIn 0.3s ease-in-out forwards;
}

@keyframes slideIn {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
    }
}