.selected-day {
  background-color: orange;
  font-weight: bold;
  transition: transform 50ms, box-shadow 50ms;
  border-radius: 8px;
}

.selected-day:hover {
  background-color: orange;
  transition-duration: initial;
  transform: scale(0.94);
}

.clickable {
  cursor: pointer;
}